<!-- When we click on a new state, this view gets rendered for sideBar -->

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-open = "vm.sidenavOpen">
    <md-toolbar>
        <h1 class="md-toolbar-tools">Add a listing</h1>
    </md-toolbar>
    <md-content layout-padding>
        <form name = "newForm" novalidate>
            <md-input-container>
                <label for="title">Title</label>
                <input type="text" id="title"
                       ng-model="listing.title"         
                       md-autofocus name = "title" required="">
                <div ng-if="newForm.title.$touched" ng-messages="required">Please enter a Title.</div>
            </md-input-container>
            <md-input-container>
                <label for="price">Price</label>
                <input type="number"
                       id="price"
                       ng-model="listing.price" name = "price" required="">
                <div ng-if="newForm.price.$touched" ng-messages="required">Please enter a Price.</div>
            </md-input-container>
            <md-input-container>
                <label for="description">Description</label>
                <input type="text" 
                       id="description"
                       ng-model="listing.description" name = "description" required="">
                <div ng-if="newForm.description.$touched" ng-messages="required">Please enter a Description.</div>
            </md-input-container>
            <md-input-container>
                <label for="image">Image Link</label>
                <input type="text" 
                       id="image"
                       ng-model="listing.image">
            </md-input-container>
            <md-button type = "submit" class="md-primary" ng-click="vm.saveListing(listing)" ng-disabled = "newForm.$invalid">Save</md-button>
            <md-button class="md-warn" ng-click="vm.closeSidebar()">Cancel</md-button>
        </form>
    </md-content>
</md-sidenav>